* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


#Best_Projects_Title {
    color: #82b0ff;
}



header {
    background-color: #deeaff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.Logo {
    color: #131c46;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 1000;
    text-transform: uppercase;
}

.Nav a {
    color: #131c46;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 30px;

    transition: 0.5s;
}

.Nav a:hover {
    color: #5f71c0;
}

section {
    padding: 100px 200px;
}

.Main {
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    background-color: #131c46;
}

.Main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
}

.Main h2 span {
    color: #82b0ff;
    font-size: 3em;
    font-weight: 100;
    display: inline-block;
    margin-top: 10px;
}

.Main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.Main_Btn {
    color: #131c46;
    background-color: #82b0ff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;

    transition: 0.5s ease;
}

.Main_Btn:hover {
    background-color: #5f71c0;
    transform: scale(1.1);
}

.Social_Media_Icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;

    transition: 0.5s ease;
}

.Social_Media_Icons a:hover {
    color: #5f71c0;
}

.Title {
    display: flex;
    justify-content: center;
    color: #131c46;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.Cards_Container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 50px rgba(19, 28, 70, 0.35);
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    word-wrap: break-word;
    
    transition: 0.5s ease;
}

.Card:hover {
    transform: scale(1.1);
}

.Cards_Icons {
    color: #131c46;
    font-size: 8em;
    text-align: center;
}

.Cards_Info {
    text-align: center;
}

.Cards_Info h3 {
    color: #131c46;
    font-size: 1.3em;
    font-weight: 900;
    margin: 10px;
    margin-bottom: 15px;
}


.Projects {
    background-color: #131c46;
}

.Projects .Cards_Container {
    margin-top: 30px;
}

.Project_Card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 50px rgba(90, 104, 165, 0.35);
    border-radius: 25px;
    border: 5px solid #fff;
    margin: 25px;
    word-wrap: break-word;
    min-height: 12cm;
    width: 28em;
    overflow: hidden;
    
    transition: 0.5s ease;
}

.Project_Card:hover {
    transform: scale(1.1);
}

.Project_Image img {
    width: 100%;
    transition: 0.5s ease;
}

.Project_Card:hover .Project_Image img {
    opacity: 0.95;
}

.Project_Details {
    padding: 1em;
}

.Project_Name {
    font-size: 1.1em;
    font-weight: 300;
    color: #131c46;
}

.Project_Title {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Project_Title span {
    width: 100%;
}

.Project_Title a {
    margin-top: 10px;
}

.Project_Details_Button {
    text-decoration: none;
    color: #5f71c0;
    background-color: #131c46;
    padding: 10px 15px;
    border-radius: 10px;

    transition: all 0.5s;
}

.Project_Details_Button:hover {
    color: #82b0ff;
    background-color: #131c46;
    transform: scale(1.1);
}


.Contact_Btn {
    background-color: #131c46;
    color: #82b0ff;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;

    transition: 0.5s ease;
}

.Contact_Btn:hover {
    background-color: #82b0ff;
    color: #131c46;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    padding: 10px;
    text-decoration: none;
}

.About_Text {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}

#About {
    background-color: #82b0ff;
}

footer {
    background-color: #131c46;
    color: #5f71c0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

footer span {
    color: #82b0ff;
}


/* Full Project View */

.Full_Project_View {
    width: auto;
    height: auto;
}

.Full_Project_Image {
    margin: auto;
    border-radius: 25px;
    border: 5px solid #5f71c0;
}

.Full_Project_Text {
    font-size: 2.5em;
    margin-top: 5px;
    color: #131c46;
}

.Full_Project_P {
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 25px;
    color: #131c46;
}

.Full_Project_P a {
    font-size: 1.2em;
    color: #131c46;
    text-decoration: none;

    transition: all 0.5s;
}

.Full_Project_P a:hover {
    font-size: 1.3em;
    color: #5f71c0;
}


@media only screen and (max-width: 600px) {

    header {
        padding: 10px 20px;
    }

    .Main {
        padding: 150px 50px;
    }

    #About {
        padding: 150px 50px;
    }

    .Card {
        min-width: 300px;
    }

    .Project_Card {
        min-width: 300px;
    }

    .Full_Project_View {
        padding: 100px 20px;
        width: 100%;
    }

    .Full_Project_Image {
        width: 85%;
        height: 85%;
    }

    .Full_Project_P {
        width: 85%;
    }

}
